* {
  background: rgb(44, 44, 44);
  color: rgb(214, 214, 214);
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}

.range-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.5rem;
  padding: 0.2rem;
  justify-content: center;
  align-items: center;
}

.input-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2rem;
  padding: 1rem;
  justify-content: center;
}

.range-value {
  text-align: center;
  padding: 0.3rem;
  margin-top: 0.3rem;
}

.input-title {
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  margin: 2rem;
}

.button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.run {
  display: flex;
  justify-content: center;
  align-items: center;
}